body {
    background-image:url("https://media1.tenor.com/m/8Gs8FSxX48MAAAAC/maxwell-kocykvr.gif");
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

.widget-box {
  width: 400px;
  height: 300px;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;           
  justify-content: center; 
  align-items: center;     
}

.widget {
  width: 100%;
  height: 100%;
  border: none; 
}
